.tech {
  width: 70%;
}
.myPic {
  height: 270px;
  border: 2px solid rgb(243, 238, 238);
  border-radius: 150px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 4px;
}
.my {
  display: flex;
  flex-direction: row;
  gap: 12px;

  align-items: flex-start;
}
.intro {
  background-color: rgb(204, 164, 164);
  /* width: 100vh; */
  border: 2px solid rgb(219 208 208);
  border-radius: 8px;
  width: 50%;
  align-items: center;
  margin-top: 4%;
  margin-left: 5%;
}
.qualification {
  align-items: center;
}
.profession {
  color: #786a6a;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 26px;
}
.name {
  color: #786a6a;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 28px;
}
.vl {
  border-left: 4px solid rgb(165 159 168);
  height: 290px;
}
.heading {
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: #6b4646;
  align-items: center;
  display: flex;
}
/* .social {
  display: "flex";
  flex-direction: "row";
} */
a {
  text-decoration: none;
}
p {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: #6b4646;
  padding: 1px;
  margin: 10px;
}
.main {
  background-color: bisque;
  margin: 0px;
  padding: 0px;
  width: 50%;
  border: 2px solid rgb(219 208 208);
  border-radius: 8px;
}
